body {
            margin: 0;
            display: grid;
            grid-template-columns: 15% repeat(2, 1fr);
            grid-template-rows: 60px 1fr 30px;
            grid-template-areas:
                "menuSuperior menuSuperior menuSuperior"
                "menuLateral contenido contenido"
                "menuLateral contenido contenido";
            min-height: 100vh;
            font-family: "fantasy";
            height: 200px;
        }

        #tabla-produccion {
            position: relative;
            width: 100%;
            justify-content: center;
        }

        .menu-superior {
            grid-area: menuSuperior;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            padding: 0px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .menu-superior img {
            margin-left: 10px;
            padding: 2px;
            border-radius: 10px;
        }

        .menu-superior .dropdown {
            justify-self: end;
            margin-right: 20px;
            background-color: #162456;
            color: white;
            border-radius: 5px;
        }

        #btn-usuario {
            color: white;
        }

        .menu-lateral {
            grid-area: menuLateral;
            background-color: #162456;
            color: white;
            padding: 20px;
            height: 100%;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        }

        .menu-lateral ul {
            color: white;
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .menu-lateral ul li a {
            color: white;
            text-decoration: none;
            font-size: 25px;
        }

        .carousel-item.active .btn {
            pointer-events: auto !important;
            z-index: 10 !important;
            position: relative;
        }

        #configTabsContent{
            overflow-y: auto;
            padding: 10px;
        }
        .contenido {
            grid-area: contenido;
            padding: 20px;
            overflow-y: auto;
        }
        
        #container-card{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        #container-card .card{
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }

        #container-card thead tr{
            font-size: 10px;
        }

        #container-card tbody tr{
            font-size: 10px;
        }
        #container-card table{
            font-size: 12px;
        }


    #carouselExampleCaptions .carousel-control-prev-icon,
    #carouselExampleCaptions .carousel-control-next-icon {
        filter: invert(1);
    }

    .carousel-item div{
        gap: 10px;
    }