body {
            margin: 0;
            display: grid;
            grid-template-columns: 15% repeat(2, 1fr);
            grid-template-rows: 60px 1fr 30px;
            grid-template-areas:
                "menuSuperior menuSuperior menuSuperior"
                "menuLateral contenido contenido"
                "menuLateral contenido contenido";
            min-height: 100vh;
            font-family: "fantasy";
            height: 200px;
        }

        #tabla-produccion {
            position: relative;
            width: 100%;
            justify-content: center;
        }

        .carousel-item.active .btn {
            pointer-events: auto !important;
            z-index: 10 !important;
            position: relative;
        }

        #configTabsContent{
            overflow-y: auto;
            padding: 10px;
        }
        .contenido {

            padding: 20px;
            overflow-y: auto;
        }
        
        #container-card{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        #container-card .card{
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }

        #container-card thead tr{
            font-size: 10px;
        }

        #container-card tbody tr{
            font-size: 10px;
        }
        #container-card table{
            font-size: 12px;
        }


    #carouselExampleCaptions .carousel-control-prev-icon,
    #carouselExampleCaptions .carousel-control-next-icon {
        filter: invert(1);
    }

    .carousel-item div{
        gap: 10px;
    }